*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    margin: 0;
    padding: 2rem;
    background-color: hsl(0 0% 0%);
    display: grid;
    gap: 1rem;
    align-items: center;
    cursor: url(imágenes/cursor.png) 20 20, auto;
}
body:active {
    cursor: url(imágenes/cursor-active.png) 10 10, auto;
}

h1{
    font-family: system-ui, sans-serif;
    color: hsl(0, 0%, 100%);
    text-align: center;
    >span:last-of-type{
        color: hsl(280, 100%, 50%);
    }
}

.countdown{
    --number-color: hsl(0 0% 100%);
    --text-color: hsl(0 0% 25%);
    --dot-color: hsl(0 0% 10%);
    --dot-color-remaining: hsl(280, 100%, 50%);
    --dot-color-active: hsl(182, 100%, 50%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    width: min(60rem,100%);
    margin-inline: auto;
    container: inline-size;
    >.part{
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        >.remaining{
            grid-area: 1/1;
            color: hsl(0, 0%, 100%);
            display: grid;
            text-align: center;
            font-size: 4cqi;
            >.number{
                color: var(--number-color);
            }
            >.text{
                color: var(--text-color);
                text-transform: uppercase;
                font-size: 0.4em;
            }
        }
        >.dot-container{
            grid-area: 1/1;
            height: 100%;
            width: 4%;
            rotate: calc(360deg /var(--dots)* var(--dot-idx));
            >.dot{
                width: 100%;
                aspect-ratio: 1/1;
                background-color: var(--dot-color);
                border-radius: 50%;
                transition: background-color .25s;
                &[data-active=true]{
                    background-color: var(--dot-color-remaining);
                    &[data-lastactive=true]{
                        background-color: var(--dot-color-active);
                    }
                }
            }
        }
    }
    
}

/* Contador */

.contador {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: hsl(182, 100%, 50%);
    font-family: Cooper, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: hsla(280, 100%, 26%, 0.212);
    padding: 10px;
    border-radius: 8px;
    border: solid 2px hsl(280, 100%, 50%);
}

/* Gif aleatorio */

.gif {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: transform 0.2s ease;
    border-radius: 10px;
    object-fit: cover;
}

.gif:active {
    transform: scale(0.8);
    content: url(https://i.gifer.com/v5T.gif);
}

.gif:hover {
    content: url(https://hips.hearstapps.com/hmg-prod/images/gato-dice-no-1550658205.gif);
}



/* Happy Birthday */

canvas {
	position: absolute;
	top: 0;
	left: 0;
}


/* Button */

.contenedor-del-boton {
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        font-weight: bolder;
    }
}

button {
    position: relative;
    padding: 12px 35px;
    background: #ca7aff;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #ca7aff;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
  